mixin sub-category(items)
  ul
    each item in items
      if(item.children && item.children.length > 0)
        li
          a(href=`/products/${item.slug}`) #{item.title}
            +sub-category(item.children)